.about {
    background-color: $darkIndigo;
    display: flex;
    flex-wrap: wrap;

    .aboutContainers {
        width: 50%;
        display: flex;
    }
    .aboutContainers:not(.imgContainer) {
        justify-content: center;
        align-items: center;
    }

    .imgContainer img {
        object-fit: cover;
        object-position: center;
    }

    .descriptionContainer {
        width: 69.5%;

        h2 {
            @include heading2
        }

        p {
            @include paragraph;
        }

        .button {
            margin: 5% 0;
        }
    }
}

@media (max-width: 755px) {

    .about {
        
        .aboutContainers {
            width: 100%;
            flex-direction: column;
        }

        .descriptionContainer {
            max-width: none;
            margin: 50px 0;
        }

        .buttonContainer {
            text-align: center;
        }

        .imgContainer img {
            height: 64vw;
            object-position: top center;
        }
    }

    .about div:nth-child(2) {
        order: -1;
    }
}