header {
    background-image: url(../assets/image-1.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;

    nav {
        ul {
            list-style: none;
        }
        li {
            display: inline-block;
            margin: 30px 13px;

        }
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: inherit;
            font-family: $fontMontserrat;
        }
    }

    .headerContainer {
        margin-top: 110px;
        display: flex;
    }

    .headerTextContainer {
        margin: 0 auto;
    }

    .iconContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .socialMediaIcons {
        width: 25px;
        height: 25px;
        margin-bottom: 15px;
    }

    h1 {
        @include heading1();
        margin-bottom: 10px;
        
        span {
            display: block;
        }
    }
    h3 {
        @include heading3;
        background-color: $royalPurple;
        display: inline-block;
        padding: 10px 40px;
    }
}

@media (max-width: 755px) {
    header {
        nav {
            visibility: hidden;
            min-width: 420px;
        }

        .iconContainer {
            display: none;
        }
    }
}
