.socialMedia {
    background-color: $darkIndigo;

    .socialMediaContainer {
        height: 725px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2{
        @include heading2;
        text-align: center;
        margin-bottom: 60px;
    }

    ul {
        display: flex;
        list-style: none;  
    }

    li {
        width: calc((100% / 3) - 40px);
        margin: 0 20px;
    }
}

@media (max-width: 755px) {

    .socialMedia {

        .socialMediaContainer {
            height: 500px;
        }

        ul li:last-child {
            display: none;
        }

        ul {
            justify-content: space-between;
        }

        li {
            width: 48%;
            margin: 0;
        }
    }
}