.ticketIcons {
    background-color: $royalPurple;

    .ticketDetailIcons {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 510px;
        max-width: 850px;
        margin: 0 auto;
    }
    
    .ticketIconsImg img {
        width: 50px;
        height: 50px;
        margin: 0 auto 15px;
    }

    a {
        text-decoration: none;
        display: block;
    }

    h4 {
        font-family: $fontMontserrat;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: uppercase;
        color: #FFF;
    }
}

@media (max-width: 755px) {
    
}