@import './partials/setup';
@import './partials/variables';
@import './partials/header';
@import './partials/about';
@import './partials/ticketInfo';

// BASE STYLES
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 85%;
}

h1,
h2,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

html {
    color: #fff;
    font-size: 125%; // browser default font size is 16px
}

img {
    max-width: 100%;
    display: block;
}

button {
    font-family: $fontIceberg;
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 29px;
    color: #fff;
    background-color: #9200FF;
    text-transform: uppercase;
    padding: 10px 20px;
    border-style: none;
}