@import './partials/setup';
@import './partials/variables';
@import './partials/header';
@import './partials/about';

// BASE STYLES
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    width: 85%;
}

h1,
h2,
ul,
li,
p {
    margin: 0;
    padding: 0;
}

html {
    color: #fff;
    font-size: 125%;
}

img {
    max-width: 100%;
    display: block;
}